{% extends 'home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Student Details</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'student-list' %}">Students</a></li>
            <li class="breadcrumb-item active">{{ student.full_name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="about-info">
              <h4>About Student</h4>
              <div class="media mt-3">
                {% if student.student_image %}
                  <img src="{{ student.student_image.url }}" class="mr-3 rounded-circle" alt="{{ student.full_name }}" width="120" height="120">
                {% else %}
                  <img src="{% static 'assets/img/user.jpg' %}" class="mr-3 rounded-circle" alt="No Image" width="120" height="120">
                {% endif %}
                <div class="media-body">
                  <ul>
                    <li>
                      <span class="title-span">Full Name:</span>
                      <span class="info-span">{{ student.full_name }}</span>
                    </li>
                    <li>
                      <span class="title-span">Admission Number:</span>
                      <span class="info-span">{{ student.admission_number }}</span>
                    </li>
                    <li>
                      <span class="title-span">Gender:</span>
                      <span class="info-span">{{ student.gender }}</span>
                    </li>
                    <li>
                      <span class="title-span">Date of Birth:</span>
                      <span class="info-span">{{ student.date_of_birth }}</span>
                    </li>
                    <li>
                      <span class="title-span">Class:</span>
                      <span class="info-span">{{ student.class_field }}</span>
                    </li>
                    <li>
                      <span class="title-span">Section:</span>
                      <span class="info-span">{{ student.section }}</span>
                    </li>
                    <li>
                      <span class="title-span">Parent:</span>
                      <span class="info-span">{{ student.parent.full_name }}</span>
                    </li>
                    <li>
                      <span class="title-span">Parent Contact:</span>
                      <span class="info-span">{{ student.parent.phone_number }}</span>
                    </li>
                    <li>
                      <span class="title-span">Parent Email:</span>
                      <span class="info-span">{{ student.parent.email }}</span>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12">
                  <h5>Permanent Address</h5>
                  <p>{{ student.parent.permanent_address }}</p>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12">
                  <h5>Present Address</h5>
                  <p>{{ student.parent.present_address }}</p>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12">
                  <h5>Additional Info</h5>
                  <p>{{ student.bio|default:"No additional information provided." }}</p>
                </div>
              </div>
            </div> <!-- /about-info -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="text-center mt-4">
  <p>Copyright © {{ now|date:"Y" }} The Code Club. All rights reserved.</p>
</footer>

<!-- JS Files -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
