{% extends 'home/base.html' %}
{% block body  %}
{% load static %}

    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <div class="content container-fluid">

        <div class="page-header">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="page-title">Welcome Bruklin!</h3>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Student Dashboard</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Dashboard Widgets -->
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-nine w-100">
              <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                  <div class="db-icon"><i class="fas fa-book-open"></i></div>
                  <div class="db-info">
                    <h3>04/06</h3>
                    <h6>All Courses</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ... additional widgets ... -->
        </div>
      </div>

      <footer>
        <p>Copyright © 2020 Dreamguys.</p>
      </footer>
    </div>
    <!-- /Page Wrapper -->
  </div>

  <!-- Scripts -->
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
  <script src="{% static 'assets/plugins/simple-calendar/jquery.simple-calendar.js' %}"></script>
  <script src="{% static 'assets/js/calander.js' %}"></script>
  <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>

{% endblock %}